@font-face {
	font-family: BM_Jua;
	src: url("../fonts/BMJUA_ttf.ttf");
}
@font-face {
	font-family: BM_HANNAPRO;
	src: url("../fonts/BMHANNAPro.ttf");
}

.left-section {
	display: flex;
	align-items: center;
}

.menus {
	color: white;
	display: flex;
	align-items: center;
}
.right-section {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin-right: 40px;
}
.header {
	background-color: rgb(31, 31, 31);
}
@media (min-width: 1300px) {
	.header {
		z-index: 1000;
		height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		right: 0;
		left: 0;
		width: 100vw;
		top: 0;
	}
	.logo {
		height: 50px;
		margin-left: 60px;
		margin-right: 40px;
	}
	.menus {
		gap: 20px;
		margin-left: 22px;
		font-family: BM_Jua;
		font-size: 23px;
	}
	.menus-item, .menus-kids, .menus-arrow {
		display: flex;
	}
	.menus-menu {
		display: none;
	}
	.banner-image {
		top: 79px;
	}
	.top-ten-title {
		margin-top: 8vw;
	}
	.main-container {
		margin-left: 60px;
		top: 61vw;
	}
}

@media (min-width: 850px) and (max-width: 1299px) {
	.header {
		z-index: 1000;
		height: 70px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
	
		right: 0;
		left: 0;
		top: 0;
	}	
	.logo {
		height: 30px;
		margin-left: 40px;
		margin-right: 10px;
	}
	.menus {
		gap: 15px;
		margin-left: 20px;
		font-family: BM_Jua;
		font-size: 15px;
	}
	.menus-menu, .menus-kids, .menus-arrow {
		display: none;
	}
	.banner-image {
		top: 48px;
	}
	.top-ten-title {
		margin-top: 8vw;
		margin-bottom: -3vw;
	}
	.main-container {
		margin-left: 40px;
		top: 65vw;
	}
	.sub-title2 {
		margin-bottom: -2.5vw;
	}
}


@media (max-width: 849px) {
	.header {
		z-index: 1000;
		height: 45px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
	
		right: 0;
		left: 0;
		top: 0;
	}
	.logo {
		height: 15px;
		margin-left: 30px;
		margin-right: 10px;
	}
	.menus {
		margin-left: 17px;
		font-family: BM_Jua;
		font-size: 10px;
	}
	.menus-item, .menus-kids, .menus-arrow {
		display: none;
	}
	.banner-image {
		top: 36px;
	}
	.top-ten-title {
		margin-top: 5vw;
		margin-bottom: -5vw;
	}
	title {
		margin-left: 30px;
	}
	.main-container {
		margin-left: 30px;
		top: 67vw;
	}
	.sub-title2 {
		margin-bottom: -5vw;
	}
}
.sub-title2, .sub-title, .top-ten-title {
	font-family: BM_HANNAPRO;
}
.avatar {
	display: flex;
	align-items: center;
}
.logo:hover, .menus-noti:hover, .menus-arrow:hover, .menus-search:hover, .avatar:hover {
	cursor:pointer;
}
.menus-item:hover, .menus-kids:hover, .menus-menu:hover {
	cursor: pointer;
	color: gray;
}